:root {
    --dark: #333A45;
    --bg-dark: #23272F;
}

body.dark {
    background: var(--bg-dark);
}

body.dark main .head,
body.dark main .foot {
    background: var(--primary);
}

body.dark main .content {
    background-color: var(--dark);
}

body.dark main .head .pin {
    background-image: url("../assets/pin-light.svg");
}

body.dark main .content .btn-option,
body.dark main .content .btn-init,
body.dark main .content .btn-end {
    color: var(--light);
    background-color: var(--dark);
    border: 3px solid var(--light);
}

body.dark main .content .btn-option:hover,
body.dark main .content .btn-init:hover,
body.dark main .content .btn-end:hover {
    background-color: var(--light);
    color: var(--dark);
}

body.dark main .content .result {
    color: var(--light);
}