.toggle-theme-container {
    position: absolute;
    top: 30px;
    right: 30px;
}

#toggle-theme {
    visibility: hidden !important;
}

/* CONFIGURATION LIGHT MODE */

#toggle-theme + label {
    display: inline-block;
    width: 7rem;
    height: 3.5rem;
    border-radius: 2rem;
    background: #2172ac;
    position: relative;
    cursor: pointer;
    transition: background 0.5s ease;
}

#toggle-theme + label:before {
    content: "";
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 1.5rem;
    background: url("../assets/sun.svg");
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: background 0.5s ease, left 0.5s ease;
}

/* CONFIGURATION DARK MODE */

#toggle-theme:checked + label {
    background: none;
    background: #112330;
}

#toggle-theme:checked + label:before {
    background: url("../assets/mon.svg");
    left: 3.9rem;
}